.title-container {
  @apply text-xl md:text-5xl uppercase;
  border-bottom: 3px solid #dd5133;
}
#map {
  height: 500px;
}
.location-description {
  @apply text-base md:text-2xl;
}
.location-description img,
.locate-button img {
  width: 25px;
  height: 25px;
}
.locate-button {
  @apply p-2 text-xl cursor-pointer w-3/5 md:w-auto mx-auto md:m-0;
  background-color: #dd5133;
  color: white;
}
.inline-content {
  @apply flex flex-row items-center space-x-4;
}
.title-table {
  background-color: #dd5133;
}
