@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Helvetica;
  src: url("fonts/Helvetica.ttc");
}

@font-face {
  font-family: Nexa;
  src: url("fonts/Nexa Bold.otf");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, Nexa, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
